* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#cabecera {
  position: sticky;
  top: 0;
  margin: 0 0 30px;
  padding: 20px;
  background-color: #33f;
  color: #fff;
  box-shadow: 0px 3px 10px #1a1a1a;
  z-index: 10;
}

#cabecera h1 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
}

#cabecera h1 small {
  margin-left: 20px;
  font-size: 14px;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100%;
}

#post {
  height: 100%;
  padding: 0 15px;
}

.post_article {
  padding: 10px 0 0;
  border-bottom: 3px solid #544f4f;
}

.post_article h2 {
  width: max-content;
  padding: 5px 10px;
  background-color: #544f4f;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  transform: translateY(50%);
  box-shadow: 0px 3px 3px #0006;
}

.post_article p {
  padding: 20px 15px 15px;
  background-color: #ebe6e6;
  color: #222;
  line-height: 1.5;
}

#footer {
  margin-top: 40px;
  padding: 40px;
  background-color: #e1e1e1;
  text-align: right;
}