* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#cabecera {
	margin: 0 0 30px;
	padding: 10px;
	background-color: #55f;
  color: #fff;
  box-shadow: 0px 3px 10px #1a1a1a;
}

#cabecera h1 {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
}